@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#root {  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #fcfcfc;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.box h3 {
  margin: 2rem;
}

.box button {
  background-color: green;
  border: 0;
  border-radius: 3px;
  color: #fcfcfc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

